*.iml
.DS_Store
.idea
*/target
.classpath
.project
.settings

bin
target
.settings
.project
.svn
*.versionsBackup
.versionsBackup
*.bak
.idea/
/out
/.idea/ant.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/modules.xml
/.idea/compiler.xml
/.idea/libraries/Maven*.xml
/.idea/artifacts/*.xml
/*.iws
tree.txt

